<% include('../layouts/adminHeader.ejs') %>
<h1>Welcome, <%= admin.name %></h1>
<a href="/admin/dashboard">Dashboard</a>
<table style="width: 50%">
  <tr>
    <td>
      <img
        width="120px"
        height="120px"
        src="/userImages/<%= admin.image %>"
        alt="<%= admin.image %>"
      />
    </td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= admin.email %></td>
  </tr>
</table>
<br /><br />
<a href="/admin/logout">Logout</a>
<% include('../layouts/adminFooter.ejs') %>
