<% include('../layouts/adminHeader.ejs') %>
<h1>Admin Login</h1>

<% if(typeof message !== 'undefined') { %>
<p style="color: green;"><%= message %></p>
<% } %>

<form action="" method="post">
  <input type="email" name="email" placeholder="Enter email" />
  <br /><br />
  <input type="password" name="password" placeholder="Enter password" />
  <br /><br />
  <input type="submit" value="Login" />
</form>

<a href="/admin/forget">Forget Password</a>
<% include('../layouts/adminFooter.ejs') %>
